<div class="row">
  <div class="col-md-3">
    <span class="hipster img-fluid rounded"></span>
  </div>

  <div class="col-md-9">
    <h1 class="display-4"><span jhiTranslate="home.title">Merhaba, Java Hipster!</span> (First Angular And Fluter)</h1>

    <p class="lead" jhiTranslate="home.subtitle">Burası Ana Sayfanız</p>

    <div [ngSwitch]="account !== null">
      <div class="alert alert-success" *ngSwitchCase="true">
        <span id="home-logged-message" *ngIf="account" jhiTranslate="home.logged.message" [translateValues]="{ username: account.login }"
          >"{{ account.login }}" olarak giriş yaptınız.</span
        >
      </div>

      <div class="alert alert-warning" *ngSwitchCase="false">
        <span jhiTranslate="global.messages.info.authenticated.prefix"></span>
        <a class="alert-link" (click)="login()" jhiTranslate="global.messages.info.authenticated.link">Giriş</a
        ><span jhiTranslate="global.messages.info.authenticated.suffix">
          yapmak istiyorsanız, varsayılan hesaplardan birini deneyebilirsiniz:<br />- Yönetici (kullanıcı adı="admin" ve şifre="admin")
          <br />- Kullanıcı (kullanıcı adı="user" and şifre="user").</span
        >
      </div>

      <div class="alert alert-warning" *ngSwitchCase="false">
        <span jhiTranslate="global.messages.info.register.noaccount">Henüz bir hesabınız yok mu?</span>&nbsp;
        <a class="alert-link" routerLink="account/register" jhiTranslate="global.messages.info.register.link">Yeni hesap oluştur</a>
      </div>
    </div>

    <p jhiTranslate="home.question">JHipster hakkında sorularınız için:</p>

    <ul>
      <li>
        <a href="https://www.jhipster.tech/" target="_blank" rel="noopener noreferrer" jhiTranslate="home.link.homepage"
          >JHipster ana sayfa</a
        >
      </li>
      <li>
        <a
          href="https://stackoverflow.com/tags/jhipster/info"
          target="_blank"
          rel="noopener noreferrer"
          jhiTranslate="home.link.stackoverflow"
          >Stack Overflow'da JHipster</a
        >
      </li>
      <li>
        <a
          href="https://github.com/jhipster/generator-jhipster/issues?state=open"
          target="_blank"
          rel="noopener noreferrer"
          jhiTranslate="home.link.bugtracker"
          >JHipster hata yönetimi</a
        >
      </li>
      <li>
        <a href="https://gitter.im/jhipster/generator-jhipster" target="_blank" rel="noopener noreferrer" jhiTranslate="home.link.chat"
          >JHipster genel sohbet odası</a
        >
      </li>
      <li>
        <a href="https://twitter.com/jhipster" target="_blank" rel="noopener noreferrer" jhiTranslate="home.link.follow"
          >Twitter'da @jhipster adresinden ulaşabilirsiniz</a
        >
      </li>
    </ul>

    <p>
      <span jhiTranslate="home.like">JHipster'ı beğendiysenizi yıldız vermeyi unutmayın</span>
      <a href="https://github.com/jhipster/generator-jhipster" target="_blank" rel="noopener noreferrer" jhiTranslate="home.github"
        >GitHub</a
      >!
    </p>
  </div>
</div>
